@font-face {
    font-family: "Trajan";
    src: url(fonts/Trajan\ Pro.ttf) format("truetype");
}
h1 { font-family: "Trajan", sans-serif }

body {
    background-image: url("images/cliffs.jpg");
    background-size: 100%;
}

button {
    border: none;
    background-color: gray;
    transition-duration: 0.4s;
}

button:hover {
    border: none;
    background-color: rgb(99, 99, 99);
}

h1 {
    color: white;
    font-weight: lighter;
}

.header-box {
    background-color: black;
    height: 70px;
    line-height: 70px;
    padding-left: 20px;
    vertical-align: middle;
}