@font-face {
    font-family: "Trajan";
    src: url("fonts/TrajanPro.ttf") format("truetype");
}
html, body {
    margin:0;
    background-image: url("images/enemies.jpg");
    background-size: 100%;
}

.header-banner {
    background-color: black;
    color: white;
    height: 370px;
    text-align: center;
    font-family: "Trajan", sans-serif;
}